@font-face {
  font-family: vazir;
  src: url("../assets/fonts/Vazir.ttf");
}

:root {
  --background-light: #f7f7f7;
  --background-dark: #2a2b2e;
  --color-default: #00acee;
  --color-second: #0067ac;

  --card-view-color_1: #13f1fc;
  --card-view-color_2: #0470dc;

  --card-product-count-color_1: #b1ea4d;
  --card-product-count-color_2: #459522;

  --card-comments-count-color_1: #f5515f;
  --card-comments-count-color_2: #a1051d;

  --card-costumer-count-color_1: #fad961;
  --card-costumer-count-color_2: #f76b1c;

  --card-view-color_1-dark-mode: #13f0fcc0;
  --card-view-color_2-dark-mode: #0470dcc0;

  --card-product-count-color_1-dark-mode: #b0ea4dc0;
  --card-product-count-color_2-dark-mode: #459522c0;

  --card-comments-count-color_1-dark-mode: #f5515fc0;
  --card-comments-count-color_2-dark-mode: #a1051dc0;

  --card-costumer-count-color_1-dark-mode: #fad961c0;
  --card-costumer-count-color_2-dark-mode: #f76b1cc0;
}

* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  font-family: vazir;
}

body {
  min-height: 100vh;
  overflow-y: hidden;
}

/* width */
body::-webkit-scrollbar {
  width: 10px;
}

/* Track */
body::-webkit-scrollbar-track {
  background: #c8dce9;
}

/* Handle */
body::-webkit-scrollbar-thumb {
  background: rgb(52, 75, 146);
}

/* Handle on hover */
body::-webkit-scrollbar-thumb:hover {
  background: rgb(5, 32, 116);
}

.dashboard-navbar {
  background-color: var(--color-default);
  width: calc(100% - 50px);
  height: 60px;
  display: flex;
  align-items: center;
  color: #fff;
  justify-content: flex-end;
  padding: 5px 10px 5px 10px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  box-shadow: 0 -1px 10px 1px rgba(0, 0, 0, 0.3);
}

.left-navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-switch {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: max(1.8vmax, 20px);
  padding-right: 3em !important;
}

.switch-theme {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.switch-theme > i {
  font-size: max(2vmax, 20px);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.switch-theme > .form-check > .form-check-input:checked {
  background-color: #555555 !important;
}
.switch-theme > .form-check > .form-check-input {
  background-color: #fdad00 !important;
}

.left-navbar > .avatar-profile {
  width: max(3.7vmax, 35px);
  height: max(3.7vmax, 35px);
  border-radius: 50%;
  margin-right: 15px;
  cursor: pointer;
}
.left-navbar > .avatar-profile > img {
  object-fit: cover;
  width: inherit;
  height: inherit;
  border-radius: 50%;
}

.notification-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 15px;
  cursor: pointer;
  position: relative;
}
.notification-icon > i {
  font-size: max(2vmax, 20px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar {
  min-height: 100vh;
  width: 50px;
  z-index: 99;
  background-color: var(--color-default);
  transition: all 0.5s ease;
  position: fixed;
  top: 0;
  right: 0;
  box-shadow: 2px 0 10px 5px rgba(0, 0, 0, 0.2);
}

.sidebar.open {
  width: 200px;
}

.sidebar .logo_details {
  height: 60px;
  display: flex;
  align-items: center;
  position: relative;
  justify-content: space-between;
}

.sidebar .logo_details .icon {
  opacity: 0;
  /* transition: all 0.1s ease ; */
}

.sidebar .logo_details .logo_name {
  color: #fff;
  font-size: max(1.8vmax, 20px);
  opacity: 0;
  /* transition: all .1s ease; */
  margin-right: 20px;
  white-space: nowrap;
}

.sidebar.open .logo_details .icon,
.sidebar.open .logo_details .logo_name {
  opacity: 1;
  transition: all 0.9s ease;
}

.sidebar .logo_details #btn-open-sidebar {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  font-size: max(2.5vmax, 20px);
  text-align: center;
  cursor: pointer;
  transition: all 0.5s ease;
}

.sidebar.open .logo_details #btn-open-sidebar {
  text-align: left;
  margin-left: 7px;
}

.sidebar i {
  color: #fff;
  height: 60px;
  line-height: 60px;
  min-width: 50px;
  text-align: center;
}

.sidebar .nav-list {
  margin-top: 20px;
  height: 100%;
  text-align: center;
  line-height: 60px;
}

.sidebar li {
  position: relative;
  margin: 8px 0;
  list-style: none;
}

.sidebar > .nav-list > li > a {
  transition: 0.3s ease-in-out;
}

.sidebar > .nav-list > li > a:hover {
  background-color: var(--color-second);
}
.sidebar > .nav-list > li > a.active-side {
  background-color: var(--color-second);
}

.sidebar li .tooltip {
  position: absolute;
  top: -20px;
  right: calc(100% + 15px);
  z-index: 3;
  background-color: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  padding: 6px 14px;
  font-size: 15px;
  font-weight: 400;
  border-radius: 5px;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  font-family: vazir;
}

.sidebar li:hover .tooltip {
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
  top: 50%;
  transform: translateY(-50%);
}

.sidebar.open li .tooltip {
  display: none;
}

.sidebar li a {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  text-decoration: none;
  background-color: var(--color-default);
  position: relative;
  /* transition: all .5s ease; */
  z-index: 12;
}

.sidebar li a .link_name {
  color: #fff;
  font-size: max(1.5vmax, 17px);
  font-weight: 400;
  white-space: nowrap;
  pointer-events: auto;
  transition: all 0.4s ease;
  pointer-events: none;
  opacity: 0;
}

.sidebar.open li a .link_name {
  opacity: 1;
  pointer-events: auto;
  transition: all 0.9s ease;
}

.sidebar li i {
  height: 35px;
  line-height: 35px;
  font-size: max(2vmax, 20px);
  border-radius: 5px;
}

.home-section {
  position: relative;
  background-color: var(--background-light);
  min-height: calc(100vh - 60px);
  top: 60px;
  right: 50px;
  width: calc(100% - 50px);
  transition: all 0.5s ease;
  z-index: 0;
}

/* .sidebar.open ~ .home-section{
  right:200px;
  width: calc(100% - 200px);
} */

.review-card {
  margin: 10px 0 10px 0;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2);
  color: #fff;
}

#view-card .review-card {
  background: var(--card-view-color_1);
  background: linear-gradient(
    145deg,
    var(--card-view-color_1) 0%,
    var(--card-view-color_2) 100%
  );
  box-shadow: 0 0 10px 1px rgba(19, 240, 252, 0.8);
}
#product-count-card .review-card {
  background: var(--card-product-count-color_1);
  background: linear-gradient(
    145deg,
    var(--card-product-count-color_1) 0%,
    var(--card-product-count-color_2) 100%
  );
  box-shadow: 0 0 10px 1px rgba(177, 234, 77, 0.8);
}
#commnets-card .review-card {
  background: var(--card-comments-count-color_1);
  background: linear-gradient(
    145deg,
    var(--card-comments-count-color_1) 0%,
    var(--card-comments-count-color_2) 100%
  );
  box-shadow: 0 0 10px 1px rgba(245, 81, 95, 0.8);
}
#cusomers-card .review-card {
  background: var(--card-costumer-count-color_1);
  background: linear-gradient(
    145deg,
    var(--card-costumer-count-color_1) 0%,
    var(--card-costumer-count-color_2) 100%
  );
  box-shadow: 0 0 10px 1px rgba(250, 217, 97, 0.8);
}

.review-card > .review-details {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.review-card > .review-details i {
  font-size: max(4vw, 40px);
  display: flex;
  margin-left: 5px;
}
.review-card > .review-details span {
  font-size: max(3vw, 30px);
  margin-left: 10px;
  display: flex;
  margin-top: 10px;
}
.review-card > .review-title span {
  font-size: max(1.5vw, 17px);
}

#my-chart,
#chart-review {
  width: 100%;
  height: 400px;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.table-card {
  background-color: #fff;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.table-title {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 10px;
  font-size: max(1.5vw, 20px);
  font-weight: bold;
  border-bottom: 1px solid rgba(0, 0, 0, 0.158);
}

.table-items {
  padding: 10px;
  height: 351px;
  overflow-x: auto;
  white-space: nowrap;
  width: 100%;
}
.costumer-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 15px;
}

.costumer-item:first-of-type {
  margin-top: 0;
}

.costumer-img {
  padding: 5px;
  border-radius: 50%;
}
.costumer-img > img {
  width: max(4vw, 35px);
  height: max(4vw, 35px);
  border-radius: 50%;
}
.costumer-details {
  display: flex;
  flex-direction: column;
  margin-right: 3px;
  width: 200px;
}
.costumer-name {
  font-size: max(1.5vw, 15px);
}
.costumer-email {
  font-size: max(1vw, 11px);
  color: gray;
}

.costumer-call {
  background: var(--card-product-count-color_1);
  background: linear-gradient(
    145deg,
    var(--card-product-count-color_1) 0%,
    var(--card-product-count-color_2) 100%
  );
  width: max(3vw, 30px);
  height: max(3vw, 30px);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  align-self: flex-end;
  transition: 0.2s ease-in-out;
  margin-bottom: 6px;
  margin-left: 7px;
}

.costumer-call:hover {
  box-shadow: 0 0 10px 1px #459522;
  scale: 1.2;
}

.costumer-call > i {
  color: #fff;
  font-size: max(1.5vw, 13px);
}

.table-items::-webkit-scrollbar {
  width: 0;
  height: 4px;
}

.table-items::-webkit-scrollbar-track {
  background: #c8dce9;
}

.table-items::-webkit-scrollbar-thumb {
  background: rgb(52, 75, 146);
}

.table-items::-webkit-scrollbar-thumb:hover {
  background: rgb(5, 32, 116);
}

.loading-container {
  background-color: var(--background-light);
  height: 100%;
  position: absolute;
  z-index: 99999;
  right: 0;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hide-loading {
  display: none;
}

.circles {
  display: flex;
  align-items: center;
  background-color: transparent;
  justify-content: space-between;
  width: 130px;
  height: 100px;
  background-color: transparent;
  position: relative;
}

.circle {
  width: 25px;
  height: 25px;
  border-radius: 100%;
  position: relative;
  background: var(--card-view-color_1);
  background: linear-gradient(
    145deg,
    var(--card-view-color_1) 0%,
    var(--card-view-color_2) 100%
  );
  box-shadow: 0 0 10px 1px rgba(19, 240, 252, 0.8);
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.2);
}

.circles .circle:nth-of-type(1) {
  animation: loading 0.4s infinite alternate;
}
.circles .circle:nth-of-type(2) {
  animation: loading 0.4s infinite alternate 0.1s;
}
.circles .circle:nth-of-type(3) {
  animation: loading 0.4s infinite alternate 0.2s;
}

@keyframes loading {
  0% {
    bottom: 0;
  }
  100% {
    bottom: 50px;
  }
}

.theme-dark .loading-container {
  background-color: var(--background-dark);
}

.theme-dark .circle {
  background: var(--card-view-color_1-dark-mode);
  background: linear-gradient(
    145deg,
    var(--card-view-color_1-dark-mode) 0%,
    var(--card-view-color_2-dark-mode) 100%
  );
  box-shadow: 0 0 10px 1px #0470dc;
}

.theme-dark .home-section {
  background-color: var(--background-dark);
  transition: 0.3s;
}

.theme-dark .review-card i {
  color: #fff;
}
.theme-dark .review-card span {
  color: #fff;
}

.theme-dark #view-card .review-card {
  background: var(--card-view-color_1-dark-mode);
  background: linear-gradient(
    145deg,
    var(--card-view-color_1-dark-mode) 0%,
    var(--card-view-color_2-dark-mode) 100%
  );
  box-shadow: 0 0 10px 1px #0470dc;
}
.theme-dark #product-count-card .review-card {
  background: var(--card-product-count-color_1-dark-mode);
  background: linear-gradient(
    145deg,
    var(--card-product-count-color_1-dark-mode) 0%,
    var(--card-product-count-color_2-dark-mode) 100%
  );
  box-shadow: 0 0 10px 1px #459522;
}
.theme-dark #commnets-card .review-card {
  background: var(--card-comments-count-color_1-dark-mode);
  background: linear-gradient(
    145deg,
    var(--card-comments-count-color_1-dark-mode) 0%,
    var(--card-comments-count-color_2-dark-mode) 100%
  );
  box-shadow: 0 0 10px 1px #a1051d;
}
.theme-dark #cusomers-card .review-card {
  background: var(--card-costumer-count-color_1-dark-mode);
  background: linear-gradient(
    145deg,
    var(--card-costumer-count-color_1-dark-mode) 0%,
    var(--card-costumer-count-color_2-dark-mode) 100%
  );
  box-shadow: 0 0 10px 1px #f76b1c;
}

.theme-dark .sidebar li a .link_name {
  color: #fff;
}

.theme-dark .sidebar {
  background-color: #0067ac;
}

.theme-dark .sidebar li a {
  background-color: #0067ac;
}
.theme-dark .sidebar li a:hover {
  background-color: #004e81;
}

.theme-dark .sidebar > .nav-list > li > a.active-side {
  background-color: #004e81;
}

.theme-dark .sidebar i {
  color: #fff;
}

.theme-dark .sidebar .logo_details .logo_name {
  color: #fff;
}

.theme-dark .sidebar li .tooltip {
  background-color: var(--background-dark);
  color: #fff;
  border: 1px solid rgb(156, 156, 156);
}

.theme-dark .dashboard-navbar {
  color: #fff;
  background-color: #0067ac;
}

.theme-dark .table-card {
  background-color: var(--background-dark);
  border: 1px solid rgb(155, 155, 155);
}

.theme-dark .table-title {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.theme-dark .table-title {
  color: #fff;
}

.theme-dark .costumer-name {
  color: #fff;
}

.theme-dark .costumer-email {
  color: rgba(255, 255, 255, 0.6);
}

.theme-dark .costumer-call {
  background: var(--card-product-count-color_1-dark-mode);
  background: linear-gradient(
    145deg,
    var(--card-product-count-color_1-dark-mode) 0%,
    var(--card-product-count-color_2-dark-mode) 100%
  );
  box-shadow: 0 0 10px 1px #459522;
}

.theme-dark #my-chart {
  border: 1px solid rgb(155, 155, 155);
}
.theme-dark #chart-review {
  border: 1px solid rgb(155, 155, 155);
}

@media screen and (max-width: 425px) {
  #my-chart,
  #chart-review {
    height: 250px;
  }
}

@media screen and (max-width: 576px) {
  .review-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
  }
}

@media screen and (max-width: 327px) {
  .review-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
  }
}

@media screen and (min-width: 1440px) {
  .dashboard-navbar {
    height: 80px;
  }
  .switch-theme > i {
    font-size: 35px;
  }
  .left-navbar > .avatar-profile {
    width: 65px;
    height: 65px;
  }
  .notification-icon > i {
    font-size: 35px;
  }
  .form-switch {
    font-size: 30px;
  }

  .sidebar .logo_details .logo_name {
    font-size: 40px;
  }
  .sidebar .logo_details #btn-open-sidebar {
    font-size: 50px;
    margin-left: 15px;
    margin-top: 5px;
  }
  .sidebar li a .link_name {
    font-size: 30px;
    margin-right: 10px;
  }
  .sidebar li i {
    font-size: 30px;
  }
  .sidebar {
    width: 90px;
  }
  .sidebar.open {
    width: 300px;
  }
  .sidebar i {
    text-align: left;
    margin-right: 10px;
  }

  .review-card > .review-details i {
    font-size: 60px;
  }
  .review-card > .review-details span {
    font-size: 50px;
  }
  .review-card > .review-title span {
    font-size: 30px;
  }

  .costumer-img > img {
    width: 50px;
    height: 50px;
  }

  .costumer-name {
    font-size: 20px;
  }

  .costumer-email {
    font-size: 15px;

  }

  .costumer-call {
    width: 50px;
    height: 50px;
  }

  .costumer-call > i {
    font-size: 22px;
  }

  .table-card{
    height: calc(100% - 1px);
  }

}
