@font-face {
  font-family: vazir;
  src: url("../assets/fonts/Vazir.ttf");
}

:root {
  --background-light: #e4e9f7;
  --background-dark: #2a2b2e;
  --color-default: #00acee;
  --color-second: #0067ac;

  --card-view-color_1: #17a2b8;
  --card-view-color_2: #45e5fe;

  --card-product-count-color_1: #28a745;
  --card-product-count-color_2: #44fa6e;

  --card-comments-count-color_1: #a70a19;
  --card-comments-count-color_2: #e94858;

  --card-costumer-count-color_1: #ff6f00;
  --card-costumer-count-color_2: #ffd100;

  --card-view-color_1-dark-mode: #17a3b886;
  --card-view-color_2-dark-mode: #45e5fecb;

  --card-product-count-color_1-dark-mode: #28a74693;
  --card-product-count-color_2-dark-mode: #44fa6ee7;

  --card-comments-count-color_1-dark-mode: #a70a1a88;
  --card-comments-count-color_2-dark-mode: #e94858e5;

  --card-costumer-count-color_1-dark-mode: #ff6f0091;
  --card-costumer-count-color_2-dark-mode: #ffd000dc;
}

* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  font-family: vazir;
}

body {
  min-height: 100vh;
}

/* width */
body::-webkit-scrollbar {
  width: 10px;
}

/* Track */
body::-webkit-scrollbar-track {
  background: #c8dce9;
}

/* Handle */
body::-webkit-scrollbar-thumb {
  background: rgb(52, 75, 146);
}

/* Handle on hover */
body::-webkit-scrollbar-thumb:hover {
  background: rgb(5, 32, 116);
}

.dashboard-navbar {
  background-color: var(--color-default);
  width: calc(100% - 50px);
  height: 60px;
  display: flex;
  align-items: center;
  color: #fff;
  justify-content: flex-end;
  padding: 5px 10px 5px 10px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  box-shadow: 0 -1px 10px 1px rgba(0, 0, 0, 0.3);
}

.left-navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.switch-theme {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.switch-theme > i {
  font-size: max(2vmax, 20px);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.switch-theme > .form-check > .form-check-input:checked {
  background-color: #555555 !important;
}
.switch-theme > .form-check > .form-check-input {
  background-color: #fdad00 !important;
}

.left-navbar > .avatar-profile {
  width: max(3.7vmax, 35px);
  height: max(3.7vmax, 35px);
  border-radius: 50%;
  margin-right: 15px;
  cursor: pointer;
}
.left-navbar > .avatar-profile > img {
  object-fit: cover;
  width: inherit;
  height: inherit;
  border-radius: 50%;
}

.notification-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 15px;
  cursor: pointer;
  position: relative;
}
.notification-icon > i {
  font-size: max(2vmax, 20px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar {
  min-height: 100vh;
  width: 50px;
  z-index: 99;
  background-color: var(--color-default);
  transition: all 0.5s ease;
  position: fixed;
  top: 0;
  right: 0;
  box-shadow: 2px 0 10px 5px rgba(0, 0, 0, 0.2);
}

.sidebar.open {
  width: 200px;
}

.sidebar .logo_details {
  height: 60px;
  display: flex;
  align-items: center;
  position: relative;
  justify-content: space-between;
}

.sidebar .logo_details .icon {
  opacity: 0;
  /* transition: all 0.1s ease ; */
}

.sidebar .logo_details .logo_name {
  color: #fff;
  font-size: max(1.8vmax, 20px);
  opacity: 0;
  /* transition: all .1s ease; */
  margin-right: 20px;
  white-space: nowrap;
}

.sidebar.open .logo_details .icon,
.sidebar.open .logo_details .logo_name {
  opacity: 1;
  transition: all 0.9s ease;
}

.sidebar .logo_details #btn-open-sidebar {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  font-size: max(2.5vmax, 20px);
  text-align: center;
  cursor: pointer;
  transition: all 0.5s ease;
}

.sidebar.open .logo_details #btn-open-sidebar {
  text-align: left;
  margin-left: 7px;
}

.sidebar i {
  color: #fff;
  height: 60px;
  line-height: 60px;
  min-width: 50px;
  font-size: 25px;
  text-align: center;
}

.sidebar .nav-list {
  margin-top: 20px;
  height: 100%;
  text-align: center;
  line-height: 60px;
}

.sidebar li {
  position: relative;
  margin: 8px 0;
  list-style: none;
}

.sidebar > .nav-list > li > a {
  transition: 0.3s ease-in-out;
}

.sidebar > .nav-list > li > a:hover {
  background-color: var(--color-second);
}
.sidebar > .nav-list > li > a.active-side {
  background-color: var(--color-second);
}

.sidebar li .tooltip {
  position: absolute;
  top: -20px;
  right: calc(100% + 15px);
  z-index: 3;
  background-color: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  padding: 6px 14px;
  font-size: 15px;
  font-weight: 400;
  border-radius: 5px;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  font-family: vazir;
}

.sidebar li:hover .tooltip {
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
  top: 50%;
  transform: translateY(-50%);
}

.sidebar.open li .tooltip {
  display: none;
}

.sidebar li a {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  text-decoration: none;
  background-color: var(--color-default);
  position: relative;
  /* transition: all .5s ease; */
  z-index: 12;
}

.sidebar li a .link_name {
  color: #fff;
  font-size: max(1.5vmax, 17px);
  font-weight: 400;
  white-space: nowrap;
  pointer-events: auto;
  transition: all 0.4s ease;
  pointer-events: none;
  opacity: 0;
}

.sidebar.open li a .link_name {
  opacity: 1;
  pointer-events: auto;
  transition: all 0.9s ease;
}

.sidebar li i {
  height: 35px;
  line-height: 35px;
  font-size: max(2vmax, 20px);
  border-radius: 5px;
}

.home-section {
  position: relative;
  background-color: var(--background-light);
  min-height: calc(100vh - 60px);
  top: 60px;
  right: 50px;
  width: calc(100% - 50px);
  transition: all 0.5s ease;
  z-index: 0;
}

/* .sidebar.open ~ .home-section{
  right:200px;
  width: calc(100% - 200px);
} */

.review-card {
  margin: 10px 0 10px 0;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2);
  color: #fff;
}

#view-card .review-card {
  background: var(--card-view-color_1);
  background: linear-gradient(
    30deg,
    var(--card-view-color_1) 0%,
    var(--card-view-color_2) 100%
  );
}
#product-count-card .review-card {
  background: var(--card-product-count-color_1);
  background: linear-gradient(
    30deg,
    var(--card-product-count-color_1) 0%,
    var(--card-product-count-color_2) 100%
  );
}
#commnets-card .review-card {
  background: var(--card-comments-count-color_1);
  background: linear-gradient(
    30deg,
    var(--card-comments-count-color_1) 0%,
    var(--card-comments-count-color_2) 100%
  );
}
#cusomers-card .review-card {
  background: var(--card-costumer-count-color_1);
  background: linear-gradient(
    30deg,
    var(--card-costumer-count-color_1) 0%,
    var(--card-costumer-count-color_2) 100%
  );
}

.review-card > .review-details {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.review-card > .review-details i {
  font-size: max(4.5vmax, 50px);
  display: flex;
  margin-left: 5px;
}
.review-card > .review-details span {
  font-size: max(3vmax, 50px);
  margin-left: 10px;
  display: flex;
  margin-top: 10px;
}
.review-card > .review-title span {
  font-size: max(1.5vmax, 25px);
}

#my-chart,
#chart-review {
  width: 100%;
  height: 400px;
  border: 2px solid #fff;
}

.table-card {
  background-color: #fff;
  max-height: 400px;
  padding: 10px 20px 0 20px;
}

.table-card span {
  font-size: max(2vmax, 25px);
  font-weight: bold;
}

.table-card::-webkit-scrollbar {
  width: 5px;
  height: 7px;
}

/* Track */
.table-card::-webkit-scrollbar-track {
  background: #c8dce9;
}

/* Handle */
.table-card::-webkit-scrollbar-thumb {
  background: rgb(52, 75, 146);
}

/* Handle on hover */
.table-card::-webkit-scrollbar-thumb:hover {
  background: rgb(5, 32, 116);
}

.theme-dark .home-section {
  background-color: var(--background-dark);
  transition: 0.3s;
}

.theme-dark .review-card i {
  color: #fff;
}
.theme-dark .review-card span {
  color: #fff;
}

.theme-dark #view-card .review-card {
  background: var(--card-view-color_1-dark-mode);
  background: linear-gradient(
    30deg,
    var(--card-view-color_1-dark-mode) 0%,
    var(--card-view-color_2-dark-mode) 100%
  );
}
.theme-dark #product-count-card .review-card {
  background: var(--card-product-count-color_1-dark-mode);
  background: linear-gradient(
    30deg,
    var(--card-product-count-color_1-dark-mode) 0%,
    var(--card-product-count-color_2-dark-mode) 100%
  );
}
.theme-dark #commnets-card .review-card {
  background: var(--card-comments-count-color_1-dark-mode);
  background: linear-gradient(
    30deg,
    var(--card-comments-count-color_1-dark-mode) 0%,
    var(--card-comments-count-color_2-dark-mode) 100%
  );
}
.theme-dark #cusomers-card .review-card {
  background: var(--card-costumer-count-color_1-dark-mode);
  background: linear-gradient(
    30deg,
    var(--card-costumer-count-color_1-dark-mode) 0%,
    var(--card-costumer-count-color_2-dark-mode) 100%
  );
}

.theme-dark .sidebar li a .link_name {
  color: #fff;
}

.theme-dark .sidebar {
  background-color: #0067ac;
}

.theme-dark .sidebar li a {
  background-color: #0067ac;
}
.theme-dark .sidebar li a:hover {
  background-color: #004e81;
}

.theme-dark .sidebar > .nav-list > li > a.active-side {
  background-color: #004e81;
}

.theme-dark .sidebar i {
  color: #fff;
}

.theme-dark .sidebar .logo_details .logo_name {
  color: #fff;
}

.theme-dark .sidebar li .tooltip {
  background-color: var(--background-dark);
  color: #fff;
  border: 1px solid rgb(156, 156, 156);
}

.theme-dark .dashboard-navbar {
  color: #fff;
  background-color: #0067ac;
}

.theme-dark .table-card {
  background-color: var(--background-dark);
  border: 1px solid rgb(155, 155, 155);
}
.theme-dark .table-card span {
  color: #fff;
}
.theme-dark .table-card table {
  color: #fff;
}

@media screen and (max-width: 425px) {
  #my-chart,
  #chart-review {
    height: 250px;
  }
}
